{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": [".eslintrc.js"],
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "max-len": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "no-useless-constructor": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-new-func": "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-constant-condition": "off",
    "max-classes-per-file": "off",
    "lines-between-class-members": "off",
    "class-methods-use-this": "off"
  }
}
